.hero {
  max-width: 1600px;
  background-color: var(--dark-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
    url(../images/Hero/bg-hero-l.jpg);

  @media screen and (max-width: 479px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
      url(../images/Hero/hero-bg-s-img480px.jpg);
    @include mq(retina) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
        url(../images/Hero/hero-bg-s-img480px@2x.jpg);
    }
  }

  @include mq(mobile) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
      url(../images/Hero/hero-bg-s-img480px.jpg);
    @include mq(retina) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
        url(../images/Hero/hero-bg-s-img480px@2x.jpg);
    }
  }

  @include mq(tablet) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
      url(../images/Hero/hero-bg-m-img768px.jpg);
    @include mq(retina) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
        url(../images/Hero/hero-bg-m-img768px@2x.jpg);
    }
  }
  @include mq(desktop) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
      url(../images/Hero/bg-hero-l.jpg);
    @include mq(retina) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
        url(../images/Hero/bg-hero-l-@2x.jpg);
    }
  }
}

.hero-container {
  @media screen and (max-width: 479px) {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.hero__titel {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: #fff;
  text-align: center;
  font-family: var(--main-font);

  margin-bottom: 30px;
  @media screen and (max-width: 479px) {
    font-size: 20px;
  }
  @media screen and (min-width: 480px) {
    width: 360px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    width: 650px;
    font-size: 44px;
  }
}

.hero__button {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    background-color: #1875c1;
  }

  // @media screen and (max-width: 479px) {
  // }
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
